*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: cursive;

}

h1.title {
    
    margin-bottom: 10%;

}
.container {
    margin: 0 auto;
    text-align: center;
}
